
textarea {
  border-left: 2px solid black;
  resize: none;
}

.jumbotron {
  text-align: center;
  color: black;
  margin-bottom: 0;
  border-radius: 0;
  background-image: linear-gradient(rgb(104, 66, 228) 10%, rgb(228, 206, 233));
}

.allTimeslots {
  background:rgb(228, 206, 233);
}

.time-block{
  border-radius: 10px;
}

.time-block:hover {
  border: #ffffff 2px solid;
  box-shadow:black 0 2px 4px 3px;
}

.row {
height:80px;
color: black;

}

.hour {
    color: #000000;
}

.notes {
  white-space: pre-wrap;
}

.saveNote {
border-left: 2px solid black;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #604cb9;
color: white;
min-width:fit-content;
}

.saveNote:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  border: #ffffff 2px solid;
  box-shadow:black 0 2px 4px 3px;
}

.past {
  background-color: #ce9ceb;
  color: white;
}

.present {
  background-color: #be81f8;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #9a66ca;
  color: rgb(0, 0, 0);
}

footer {
  padding:30px;
  text-align: center;
  color: black;
  background-image: linear-gradient(rgb(228, 206, 233), 65%, rgb(104, 66, 228));
}

footer img {
  max-height: 75px;
}
/* 
@media only screen and (max-width: 995px) {
  .hour {
  font-size: smaller;
  }
} */